<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.example.NetScan.backgroundRefresh</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>NetScan discovers devices on your local network by probing the addresses on your Wi-Fi and reading Bonjour service advertisements.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_http._tcp</string>
		<string>_https._tcp</string>
		<string>_ipp._tcp</string>
		<string>_ipps._tcp</string>
		<string>_printer._tcp</string>
		<string>_pdl-datastream._tcp</string>
		<string>_scanner._tcp</string>
		<string>_airplay._tcp</string>
		<string>_raop._tcp</string>
		<string>_airport._tcp</string>
		<string>_ssh._tcp</string>
		<string>_sftp-ssh._tcp</string>
		<string>_smb._tcp</string>
		<string>_afpovertcp._tcp</string>
		<string>_googlecast._tcp</string>
		<string>_spotify-connect._tcp</string>
		<string>_companion-link._tcp</string>
		<string>_homekit._tcp</string>
		<string>_hap._tcp</string>
		<string>_daap._tcp</string>
		<string>_rfb._tcp</string>
		<string>_device-info._tcp</string>
	</array>
</dict>
</plist>
